{% extends "base.html" %}
{% block title %} Image 'O' Gram Login {% endblock %}

{% block content %}
	{% if form.errors %}
		<p>
			Your usrename and password didnt match!
			Please try again!!
		</p>
	{% endif %}
	<div class="login-form">
		<form action="{% url 'login' %}" method="POST">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="hidden" value="{{ next }}" name="next" />
			<p><input type="submit" value="Login" /></p>
		</form>
		<p><a href="{% url 'password_reset' %}">Forgotten Your password?</a></p>
	</div>	 
{% endblock %}